
/* iphone8 plus: landscape */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape){
    nav{
      flex-direction: row;
    }
    .navbar a{
      padding: 14px 16px;
    }
    .dropdown:hover .dropdown-content{
      flex-direction: column;
    }
    .dropdown .dropbtn {
      padding: 14px 16px;
    }
    .dropdown-content{
      text-align: left;
      position: absolute;
    }



    .container > header{
      height: 170px;
    }
    .container > header p {
      font-size: 1.7em;
      margin-left: 50px;
    }
  
    h2{
      text-align: left;
    }

    .item-land{
      flex-direction: row;
    }

    .grid-container{
    grid-template-columns: 50% 50%;
    grid-row-gap: 20px;
    }
    .grid-item {
    padding: 0px;
    }



    .mobile-adgest div{
      width: 100%;
    }


    .city-image {
      height: 200px;
      width:300px;
    }

    p{
      font-size: 20px;
    }



    .food-gall{
      grid-template-columns: 1fr 1fr;
    }

  

    .modal-content {
      margin: 10% auto; /* 15% from the top and centered */
      width: 80%; /* Could be more or less, depending on screen size */
    }

    .gallery{
      grid-template-columns: 1fr 1fr;
    }

    .land-food{
      display: block;
    }

  }
  
  
  
  @media only screen and (min-width: 800px){
    h1{
      font-size: 35px;
    }
    h2{
      font-size: 25px;
      text-align: left;
    }
    nav{
      /* position: fixed; */
      flex-direction: row;
    }
  
    #sidenavbar{
        display: block;
    }
    .navbar a{
      text-align: left;
      padding: 14px 16px;
    }
    .dropdown:hover .dropdown-content{
      display: block;
      flex-direction: column;
    }
    .dropdown .dropbtn {
      padding: 14px 16px;
    }
    .dropdown-content{
      text-align: left;
      /* position: static; */
      position: absolute;
    }
    .container {
      margin: 0px auto;
      max-width: 1200px;
      min-width: 700px;
    }
    .container > header{
      height: 360px;
    }
    .container > header p {
      font-size: 2em;
      margin-left: 150px;
    }
    
    .row{
      flex-direction:row;
    }
    .side{
      display: block;
    }

    .mobile-side{
      display: none;
    }

    .items{
      flex-direction: row;
      justify-content: center;
    }
  
    .item4{
      flex: none;
    }
  
    #self-image {
      height: 250px;
    }

    .item4{
      margin-left: 10px;
      margin-right: 10px;
    }

    .grid-container{
      grid-template-columns: 40% 60%;
      grid-row-gap: 50px;
    }
    .grid-item {
      padding: 20px;
    }

    #food-slider{
      width: 400px;
      height: 300px;
    }
    #photo > img {
      width: 400px;
      height: 300px;
    }
    footer{
      max-width: 1200px;
      min-width: 700px;

    }
    footer ul{
      display: flex;
    }



    

    

    .country-btn button{
      display:inline-block;
      padding:0.35em 1.2em;
      margin:0 0.3em 0.3em 0;
      border-radius:0.12em;
      font-weight:300;
    }

    .bouncy{
      animation: bouncy 3s infinite linear;
      position:relative;
    }
    
    @keyframes bouncy {
      0%   {top: 0em;}
      40%  {top: 0em;}
      43%  {top: -0.9em;}
      46%  {top: 0em;}
      48% {top: -0.4em;}
      50% {top: 0em;}
      100% {top: 0em;}
    }

    
    .mobile-adgest{
      display: none;
    }

    .mobile-food{
      display: block;
    }
    .mobile-title{
      display: none;
    }
  

    .overlay {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgba(0,0,0,0.7);
    }
    
    .gallery .overlay:hover {
      opacity: 1;
    }
    
    .overlay-text {
      color: white;
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      font-weight: 500;
      letter-spacing: 0.15em;
      margin-bottom: 0.5em;
      text-transform: uppecontent-textrcase;
    }
    
    .overlay-text p{
      font-size: 10px;
      text-align: left;
      font-weight: 200;
      margin-top: 0.5em;
      letter-spacing: 0em;
    }
    
    .city-hover a img{
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
    
    .city-hover a:hover img{
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }


    .foods-desk{
      display: flex;
    }



    .modal-content {
      margin: 10% auto; /* 15% from the top and centered */
      width: 50%; /* Could be more or less, depending on screen size */
    }
    

    .grid-side{
      display: block;
    }

    .accordion{
      display: none;
    }
    .panel{
      max-height: 100%;
      overflow: visible;
    }

    .gallery{
      grid-template-columns: 1fr 1fr;
    }

    .gall-food{
      display: none;
    }

  }